<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.mapper.FilmMapper">

    <select id="getFilmByRegion" resultType="java.util.HashMap">
        select region as name, count(*) as value from sys_film GROUP BY region;
    </select>

</mapper>
